<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="navigation">
		<a class="navbar-brand" href="#">Fixed navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-item nav-link active" href="#" th:href="@{/gw-systems}">Deliveries</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" th:href="@{/gw-systems/products}">products</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" th:href="@{/gw-systems/clients}">Clients</a>
				</li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Code Delivery" aria-label="Search">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search Delivery</button>
			</form>
		</div>
	</nav>

</body>

</html>